{% load static %}
<!DOCTYPE html>
<html lang = "ja">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap_datepicker_plus/js/datepicker-widget.js"></script>
  <link rel="stylesheet" href="{% static 'css/portal.css' %}" >
</head>
<body>
  <table>
    {{title}}</br>
    <a href="{% url 'mysite:todo_group'%}">案件グループ一覧</a></br>
    {% for todo in todolist %}

      {{todo.deadline}}
      <a href="{% url 'portal:todo_detail' todo.id %}">{{todo.title}}</a>
      {{todo.owner}}
        {% if todo.group != None%}
      <a href="{% url 'portal:todo_groupdetail' todo.id %}">{{todo.group}}</a>
      {% endif %}
        <a href="{% url 'portal:todo_status' todo.id %}">完了</a>
      <a href="{% url 'portal:todo_edit' todo.id %}">編集</a>
      <a href="{% url 'portal:todo_delete' todo.id %}">削除</a></br>

    {% endfor %}
  </table>

<a href="{% url 'portal:index' %}" >トップへ戻る</a>
</body>

</html>
